<head>
	<%= render_page_description_meta_tag %>
</head>
<body class="main" style="font-family:Microsoft JhengHei">
	<div class="container" style="margin-top:50px;">
	<div class="content" style="width:70%; font-size:20px; margin:0 auto;">
		<h1 style="text-align:center"><b><%= @article.title%></b></h1>
		<%= @article.introduce.html_safe%>
	</div>
</body>


