<body style="font-family:Microsoft JhengHei">
	<div class="container" style="margin-top:50px;">
	<h1 style="text-align:center"><b><%= @article.title%></b></h1>
	<div style="width:70%; font-size:20px; margin:0 auto;">
		<%= @article.content%>
		<%= @article.introduce.html_safe%>
	</div>
</body>


