<div style="margin:70px"></div>

<div class="col-md-12" style="">
    <div class="banner" style="text-align:center;">
        <img class="img-rounded" style="width:80%; box-shadow:6px 6px 10px #B5FFB5" src="/img/team-image.jpg"></img>
    </div>
    <div class="team-introduction" style="margin:30px; text-align:center; font-family:Microsoft JhengHei; font-size:20px; color:#858500; letter-spacing:1px; line-height:35px">
        小農橋<BR>
        取名希望能讓小農們被瞧見<BR>
        搭建消費者與小農之間的橋樑為意<BR>
        旨在讓好的農創特色商品<BR>
        透過小農橋平台的行銷<BR>
        能夠有更好被消費者看見的的機會<BR>
        此為小農橋的初衷與緣起<BR>
    </div>
    
    <hr style="height: 10px; border: 0;	box-shadow: 0 10px 10px -10px #008500 inset;">
    
    <div class="member-introduction" style="width:80%; margin-left:150px ;">
        <div class="" style=""> 
            <div class="row" style="margin:0 auto; ">
                <div class="col-md-3"></div>
                <div class="member col-md-6 col-sm-12" style="margin:0 auto; margin-bottom:50px; border-radius:10px;">
                    <div class="member-photo" style="float:left; padding-left:20px; padding-right:20px; border-right:3px solid;">
                        <img style="width:130px;" class="img-circle" src="http://farm3.static.flickr.com/2417/2302205385_0741c067c1_o.jpg"></img>
                    </div>
                    <div class="member-position" style="margin-left:190px">
                        <p style="font-size:30px; font-family:Microsoft JhengHei; font-weight:bold; padding-top:20px; padding-bottom:10px;">呂宥呈</p>
                        <p style="font-size:20px; font-family:Microsoft JhengHei;">執行長與行銷策略長</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0 auto;">
                <div class="member col-md-6 col-sm-12" style="margin:0 auto; margin-bottom:50px; border-radius:10px;">
                    <div class="member-photo" style="float:left; padding-left:20px; padding-right:20px; border-right:3px solid;">
                        <img style="width:130px;" class="img-circle" src="http://farm3.static.flickr.com/2417/2302205385_0741c067c1_o.jpg"></img>
                    </div>
                    <div class="member-position" style="margin-left:190px;">
                        <p style="font-size:30px; font-family:Microsoft JhengHei; font-weight:bold; padding-top:20px; padding-bottom:10px">陳玉璇</p>
                        <p style="font-size:20px; font-family:Microsoft JhengHei;">技術長</p>
                    </div>
                </div>
                <div class="member col-md-6 col-sm-12" style="margin:0 auto; margin-bottom:50px; border-radius:10px;">
                    <div class="member-photo" style="float:left; padding-left:20px; padding-right:20px; border-right:3px solid;">
                        <img style="width:130px;" class="img-circle" src="http://farm3.static.flickr.com/2417/2302205385_0741c067c1_o.jpg"></img>
                    </div>
                    <div class="member-position" style="margin-left:190px">
                        <p style="font-size:30px; font-family:Microsoft JhengHei; font-weight:bold; padding-top:20px; padding-bottom:10px">曾靖淳</p>
                        <p style="font-size:20px; font-family:Microsoft JhengHei;">視覺長</p>
                    </div>
                </div>        
            </div>
            <div class="row" style="margin:0 auto;">
                <div class="member col-md-6 col-sm-12" style="margin:0 auto; margin-bottom:50px; border-radius:10px;">
                    <div class="member-photo" style="float:left; padding-left:20px; padding-right:20px; border-right:3px solid;">
                        <img style="width:130px;" class="img-circle" src="http://farm3.static.flickr.com/2417/2302205385_0741c067c1_o.jpg"></img>
                    </div>
                    <div class="member-position" style="margin-left:190px">
                        <p style="font-size:30px; font-family:Microsoft JhengHei; font-weight:bold; padding-top:20px; padding-bottom:10px">劉奕為</p>
                        <p style="font-size:20px; font-family:Microsoft JhengHei;">行銷執行長與副技術長</p>
                    </div>
                </div>
                <div class="member col-md-6 col-sm-12" style="margin:0 auto; margin-bottom:50px; border-radius:10px;">
                    <div class="member-photo" style="float:left; padding-left:20px; padding-right:20px; border-right:3px solid;">
                        <img style="width:130px;" class="img-circle" src="http://farm3.static.flickr.com/2417/2302205385_0741c067c1_o.jpg"></img>
                    </div>
                    <div class="member-position" style="margin-left:190px">
                        <p style="font-size:30px; font-family:Microsoft JhengHei; font-weight:bold; padding-top:20px; padding-bottom:10px">李信宏</p>
                        <p style="font-size:20px; font-family:Microsoft JhengHei;">前端設計長</p>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>
