<div style="margin:70px"></div>

<div class="col-md-12" style="">
    <div class="banner" style="text-align:center;">
        <img class="img-rounded" style="width:80%; box-shadow:6px 6px 10px #B5FFB5" src="/img/team-image.jpg"></img>
    </div>
    <div class="team-introduction" style="margin:30px; text-align:center; font-family:Microsoft JhengHei; font-size:20px; color:#858500; letter-spacing:1px; line-height:35px">
        小農橋<BR>
        取名希望能讓小農們被瞧見<BR>
        搭建消費者與小農之間的橋樑為意<BR>
        旨在讓好的農創故事<BR>
        透過小農橋平台<BR>
        能夠有更好被消費者看見的的機會<BR>
        此為小農橋的初衷與緣起<BR>
    </div>
    
    <hr style="height: 10px; border: 0;	box-shadow: 0 10px 10px -10px #008500 inset;">
    
    <div class="member-introduction" style="width:80%; margin:20px auto;">
        <div class="" style=""> 
            <div class="row" style="margin:0 auto; ">
                <div class="col-md-3"></div>
                <div class="member col-md-6 col-sm-12" style="margin:0 auto; margin-bottom:50px; border-radius:10px;">
                    <div class="member-photo" style="float:left; padding-left:20px; padding-right:20px; border-right:3px solid;">
                        <img style="width:130px;" class="img-circle" src="/img/呂.jpg"></img>
                    </div>
                    <div class="member-position" style="margin-left:190px">
                        <p style="font-size:30px; font-family:Microsoft JhengHei; font-weight:bold; ">呂宥呈</p>
                        <p style="font-size:20px; font-family:Microsoft JhengHei;">典型獅子男，腦袋總是塞滿各種行銷策略和商業模式，最機車難搞的執行長。</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0 auto;">
                <div class="member col-md-6 col-sm-12" style="margin:0 auto; margin-bottom:50px; border-radius:10px;">
                    <div class="member-photo" style="float:left; padding-left:20px; padding-right:20px; border-right:3px solid;">
                        <img style="width:130px; height:80%;" class="img-circle" src="/img/陳.jpg"></img>
                    </div>
                    <div class="member-position" style="margin-left:190px;">
                        <p style="font-size:30px; font-family:Microsoft JhengHei; font-weight:bold;">陳玉璇</p>
                        <p style="font-size:20px; font-family:Microsoft JhengHei;">小農橋唯一的紅花，喜歡自己腿很長的照片，掌握所有程式碼以及開發進度的技術長。</p>
                    </div>
                </div>
                <div class="member col-md-6 col-sm-12" style="margin:0 auto; margin-bottom:50px; border-radius:10px;">
                    <div class="member-photo" style="float:left; padding-left:20px; padding-right:20px; border-right:3px solid;">
                        <img style="width:130px;" class="img-circle" src="/img/曾.jpg"></img>
                    </div>
                    <div class="member-position" style="margin-left:190px">
                        <p style="font-size:30px; font-family:Microsoft JhengHei; font-weight:bold;">曾靖淳</p>
                        <p style="font-size:20px; font-family:Microsoft JhengHei;">中途烙跑，可是義氣相挺，負責應付千奇百怪的影片和圖片需求的戲劇人兼視覺長。</p>
                    </div>
                </div>        
            </div>
            <div class="row" style="margin:0 auto;">
                <div class="member col-md-6 col-sm-12" style="margin:0 auto; margin-bottom:50px; border-radius:10px;">
                    <div class="member-photo" style="float:left; padding-left:20px; padding-right:20px; border-right:3px solid;">
                        <img style="width:130px;" class="img-circle" src="/img/劉.jpg"></img>
                    </div>
                    <div class="member-position" style="margin-left:190px">
                        <p style="font-size:30px; font-family:Microsoft JhengHei; font-weight:bold;">劉奕為</p>
                        <p style="font-size:20px; font-family:Microsoft JhengHei;">既支援行銷也要開發網站，對於美學一竅不通，喜愛躲在後端寫程式，外務最多的萬能打雜王。</p>
                    </div>
                </div>
                <div class="member col-md-6 col-sm-12" style="margin:0 auto; margin-bottom:50px; border-radius:10px;">
                    <div class="member-photo" style="float:left; padding-left:20px; padding-right:20px; border-right:3px solid;">
                        <img style="width:130px;" class="img-circle" src="/img/李.jpg"></img>
                    </div>
                    <div class="member-position" style="margin-left:190px">
                        <p style="font-size:30px; font-family:Microsoft JhengHei; font-weight:bold;">李信宏</p>
                        <p style="font-size:20px; font-family:Microsoft JhengHei;">總是能把亂七八糟的網站頁面改得美不勝收，最閒也是貢獻最多行程式碼的前端設計長。</p>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>
