
<div style="margin-left:360px;" ><img class="teamimage" src="https://lh3.googleusercontent.com/ssw21kpOaCa_TnWQgOKmRuKZ4n8TFAK6K4JpPk9rYGNtJ0C0wrvidzvMeoeaQFIbRas0QJxU5t2xTf17V_iarWoD5YoYw4VMPxwAGvfzbzpcB6Socs6rm9Psg0mpoOb6TdGL1duZnwCBXjntJEcCKKr75PTGGh5Lo3dIjV-lULyipx8HcdYGc9ufaOXlfjzRD1e_bwyyj2d_ZUT2OmCYVwXZcFnweAIrpdvYIweRUbJ2sUnZes9QupCyqF8ouELvVtbdOi56cmPveKjIaY03WeUUJOzbQgeaBlboymPzuzeHFKZU6K8BjgAFADcTO03BVONxz-TJb2CmfDaaXnkNpJ6O2-Yd8w_y8JECmRni6w8bUxnTCEFHqWFPkLMTtVUYXeqhlXd7GjJ9dtJ-i6pKv8QXZ_K0aWwtqgsq4ZewgJ4goYw5_aG1B-C7mU6sJfS3NySuBdlSVsVnqnVBbIGZgt6suHbHYKuHRdzy3IWc-UbVwM9iBXlgBgOdjWuKWadu86Y9qItrLIfNRNGIOv4TnBcJZAlRQWp9LepVa6zVcbrq6Xu3IZYdiwaS8ENg9Rcry1Ft8G-s7btnfCx_WFkKlkjiF_QctqeWZ4zhvQtZo7HOo3lh=w315-h287-no" style="width:50%;height:50%;" /></div>
   <p style="text-align: center;font-family: Microsoft JhengHei; font-weight: bold;font-size: 20px; "> 

小農橋，<BR>
取名希望能讓小農們被瞧見<BR>
搭建消費者與小農之間的橋樑為意<BR>
旨在讓好的農創特色商品<BR>
透過小農橋平台的行銷<BR>
能夠有更好被消費者看見的的機會<BR>
此為小農橋的初衷與緣起。<BR>

呂宥呈：小農橋執行長與行銷策略長，在團隊內負責團隊運行、策略及方向。<BR>

陳玉璇：小農橋技術長，負責為小農橋開發友善的平台。<BR>

曾靖淳：小農橋視覺長，負責小農橋影片與照片的技術支援。<BR>
劉奕為：小農橋行銷執行長與副技術長<BR>

李信宏：小農橋行政長</p>