<div id="teaching" class="col-sm-12 col-md-11 user_content" style="margin:50px">
  <h3 style="text-align:center; font-weight:bold">STEP1</h3>
  <div class="col-md-12 content" style="padding-left:30px; padding-top:20px; margin-bottom:30px; padding-bottom:30px; border-radius:10px">
    
    <h1 style="text-align:center">點擊<a href="/products" target="_blank" style="text-decoration: none">感興趣的故事</a>並點擊「我要支持」</h1>
    
    </div>
    <h3 style="text-align:center; font-weight:bold">STEP2</h3>
      <div class="col-md-12 content" style="padding-left:30px; padding-top:20px; margin-bottom:30px; padding-bottom:30px; border-radius:10px">
    
    <h1 style="text-align:center">填寫<a href="/products/buyprod1" target="_blank" style="text-decoration: none">購買需求以及送貨資料</a></h1>
    
    </div>
    <h3 style="text-align:center; font-weight:bold">STEP3</h3>
      <div class="col-md-12 content" style="padding-left:30px; padding-top:20px; margin-bottom:30px; padding-bottom:30px; border-radius:10px">
    
    <h1 style="text-align:center">匯款並再填寫<a href="/payers/new" target="_blank" style="text-decoration: none">匯款確認</a></h1>
    
    </div>