<body class="main" style="font-family:Microsoft JhengHei;">
    <div style="margin-top:60px"></div>
    <div class="col-md-2"></div>
    <div class="col-md-8 content" style="padding-left:30px; padding-top:20px;">
        <h1 style="color:#008000"><b>一、運費說明</b></h1>
            <div style="font-size:15px">
            <h3>常溫商品</h3>
                <li>運費新台幣陸拾元整</li>
                <li>累積消費金額達新台幣五佰元整，可享有免運</li>
                <li>常溫商品可相互累積免運門檻</li>
            <h3>低溫商品</h3>
                <li>運費新台幣壹佰伍拾元整</li>
                <li>累積消費金額達新台幣壹仟元整，可享有免運</li>
                <li>常溫商品可相互累積免運門檻</li>        
            <h3>面交</h3>
                <li>常溫及低溫商品皆可提供面交</li>
                <li>面交不需收取運費，可享有免運</li>            
            </div>

        <h1 style="color:#008000"><b>二、配送</b></h1>
            <div style="font-size:15px">
            <h3>常溫商品</h3>
                <li>提供超商取貨服務</li>
                <li>提供宅急便（黑貓）服務，可享有免運</li>
            <h3>低溫商品</h3>
                <li>僅提供宅急便（黑貓）服務</li>
            <h3>面交</h3>
                <li>面交目前僅開放政大校園</li>
                <li>小農橋將由專人聯絡，約定面交地點</li>
                </br>
                <p>小農橋主要透過「黑貓宅急便」及「7-11交貨便」提供配送服務，同時亦提供期望到貨時間之服務，然實際配送過程與時間得由宅配人員安排，非本公司能夠安排與控制之責。
                    離島目前恕不開放配送服務敬請見諒。
                    如遇有商品配送問題，請與我們連繫，本公司將盡全力協助客戶處理相關問題。
                </p>
            </div>
        <h1 style="color:#008000"><b>三、匯款說明</b></h1> 
            <div style="font-size:15px">
            <h3>ATM匯款</h3>
                <p>於訂購成功後，將收到一組【帳戶資訊：玉山銀行（代碼808） 0691-979-068422  劉奕為】，請將消費款項透過ATM或網路銀行匯入該帳戶。匯款成功後，請於網站「匯款確認」頁輸入末五碼。經人員核對後，將發送電子信件確認匯款成功。</p>
            <h3>面交</h3>
                <li>面交目前僅開放政大校園</li>
                <li>僅接受現金交易</li>
                <li>小農橋將由專人聯絡，約定面交地點</li>
            </div>
        <div style="height:30px"></div>
    </div>
</body>
