
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

#products{
    color: rgba(117, 0, 0,0.8);   
    font-weight: bold;
}
body.main{
    background-color:rgba(255, 204, 128,0.3);
}

div.content{
    background-color:white; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3)
}

div#hint{
    cursor: pointer;
    &:hover{
        color:white;
        background-color:brown;
    }
}

.container-fluid{
    background-color:ghostwhite;
    border-bottom: 1.5px solid #e7e7e7;
}

img .teamimage{
    width: 300% ;
    height: 300%;
}

img.article_pic, img.product_pic{
    opacity:0.9;
    -webkit-transition: opacity .1s linear;
    &:hover{
        opacity:1;
    }
}

.material-icons{
    font-size:100%;
}

.btn.hashtag{
    padding:0 1px;
    margin:0 2px;
}

tr .table-label{
   width:100%;
   border-style: solid;
   border-width: 3px;
   border-color: white;
   border-radius: 25px;
   font-size: 24px;
   font-style: normal;
   color: white;
   background-color: rgba(255, 204, 128,0.3);
  
}

tr {
    border-style: solid;
   font-size: 18px;
   background-color: rgba(255, 235, 204,0.3);
   border-color: white;
    border-radius: 25px;
}

.member{
    &:hover{
        background-color:rgba(255, 204, 128,0.5);
    }
}

.anchor-outerbox{
    height: 600px;
    width:20px;
    text-align: center;
    position:fixed;
    top:0px;
    right:5%;
}

.anchor-outerbox:before {
    content: "";
    height: 100%;
    width:0px;
    display: inline-block;
    vertical-align: middle;
}

.anchor-innerbox{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
}

.product-anchor{
    display: block; 
    width: 16px; 
    height: 16px; 
    background: #c1c1c1; 
    border-radius:8px;
    margin-top:50px;
    cursor: pointer;
    opacity:0.5;
    -webkit-transition: opacity .3s linear;
}

.product-anchor.block-active{
    opacity:1;
}

.navbar-nav.navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-collapse.navbar-collapse-center {
  text-align: center;
}

.navbar-nav li{
    color:#810;
    font-size:20px;
    font-family:Microsoft JhengHei;
    font-weight:bold;
}
.social-share-button .ssb-icon
   {
    background-size: 34px 34px;
    height: 34px;
    width: 34px;
}

.navbar li{
    width:150px;
    &:hover{
        background:#e7e7e7;
    }
}

.navbar li a{
    font-weight:normal;
    -webkit-transition: font-size .2s ease;
    &:hover{
      font-size:110%;
    }
}