footer{
　height: 100px;
　top: 6000px;
　position:absolute;
}
#thing {
    width: 10%; /*328 co je 1/3 - 20margin left*/
    height: 5%;
    position:absolute;
    top:200px;
    left:200px;


}
#thing2 {
     width: 10%; /*328 co je 1/3 - 20margin left*/
    height: 5%;
    position:absolute;
    bottom:400px;
    right:300px;

  
}
.TW{
     width: 300px; 
    height: 450px;
  
}
    
#map{    
    width: 500px; 
    height: 501px;
    line-height: 100px;
 
    margin-top: 0px;
    margin-left: 400px;
    margin-right:0px;
    display:inline-block;
    position:relative;
 
}
img .teamimage{
    width: 300% ;
    height: 300%;
}
div .external-article{
    height: 600px;
    width: 550px ;
  text-align: center;
    position:relative;
    
}
div .internal-article{
    height: 600px;
    width: 550px ;
      text-align: center;
     position:absolute;
     left: 726px;
     top: 406px;
  
     
    
}
div .Top-special{
    height: 314px;
    width: 1135px ;
  
   
}
div .Top-special-text{
    width: 100px;
     text-align: center;
    color: white;
    background: rgb(255, 173, 51);
    position: absolute;
    top: 320px;
    left: 1000px;
    font-size: 18px;
    border-radius: 25px;
    border-style: double;
    border-color: rgb(255, 173, 51);
    
   
}



tr .table-label{
   border-style: solid;
   border-width: 3px;
   border-color: white;
   border-radius: 25px;
   font-size: 24px;
   font-style: normal;
   color: white;
   background-color: rgb(255, 204, 128);
  
}

tr {
    border-style: solid;
   font-size: 18px;
   background-color: rgb(255, 235, 204);
   border-color: white;
    border-radius: 25px;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
