
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

body{
    font-family:Microsoft JhengHei;
}

body.main{
    background-color:rgba(247, 247, 29, 0.2);
}

.navbar-default{
    background-color:white;
    background-image:none;
    border:none;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

.dropdown-menu{
    padding-top:0;
    padding-bottom:0;
    min-width:initial;
    width:100%;
    text-align:center;
    border:none;
    li{
        height:50px;
        padding-top:15px;
    }
    li a{
        &:hover,&:focus{
            background-image:none;
        }
    }
}

#products{
    color: rgba(117, 0, 0,0.8);   
    font-weight: bold;
}

div.content{
    background-color:white; 
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3) inset;
}

div#hint{
    cursor: pointer;
    &:hover{
        color:white;
        background-color:brown;
    }
}

img .teamimage{
    width: 300% ;
    height: 300%;
}

img.article_pic, img.product_pic{
    opacity:0.9;
    -webkit-transition: opacity .1s linear;
    &:hover{
        opacity:1;
    }
}

.material-icons{
    font-size:100%;
}

.btn.hashtag{
    padding:0 1px;
    margin:0 2px;
}

tr .table-label{
   width:100%;
   border-style: solid;
   border-width: 3px;
   border-color: white;
   border-radius: 25px;
   font-size: 24px;
   font-style: normal;
   color: white;
   background-color: rgba(255, 204, 128,0.3);
  
}

.member{
    &:hover{
        background-color:rgba(255, 204, 128,0.5);
    }
}

.anchor-outerbox{
    height: 600px;
    width:20px;
    text-align: center;
    position:fixed;
    top:0px;
    right:5%;
}

.anchor-outerbox:before {
    content: "";
    height: 100%;
    width:0px;
    display: inline-block;
    vertical-align: middle;
}

.anchor-innerbox{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
}

.product-anchor{
    display: block; 
    width: 16px; 
    height: 16px; 
    background: #c1c1c1; 
    border-radius:8px;
    margin-top:50px;
    cursor: pointer;
    opacity:0.5;
    -webkit-transition: opacity .3s linear;
}

.product-anchor.block-active{
    opacity:1;
}

.navbar-nav.navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-collapse.navbar-collapse-center {
  text-align: center;
}

.navbar-nav li{
    font-size:16px;
    font-family:Microsoft JhengHei;
    font-weight:bold;
    width:120px;
    &:hover{
        background-color:#f5f5f5;
    }
    a :hover{
        color:initial;
    }
}
.social-share-button .ssb-icon
   {
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
}

div.tabs{
	display:inline-block;
	border:2px solid #00C2C2; 
 	text-align:center;
	margin:-2px; 
	padding:5px; 
	color:#00C2C2;
	font-size:medium;
	width:35%;
	cursor:pointer;
	font-weight:bold;
    -webkit-transition: all .3s ease;
}

div.tabs.active{
    color:white;
    background-color:#00C2C2;
    -webkit-transition: all .3s ease;
    
}

div.tab{
    display:none;
}

div.tab.active{
    display:block;
}

div.intro_btn{
    margin:20px auto;
	display:block;
	border:3px solid #B8860B;
	border-radius:10px;
 	text-align:center;
	padding:5px; 
	color:#B8860B;
	width:200px;
	cursor:pointer;
	font-weight:bold;
    -webkit-transition: all .1s ease;
    
    &:hover{
	    background-color:#B8860B;
    	color:white;
	}
}

.introduction a{
    &:hover, &:focus{
        text-decoration:none;
    }
}

div.step{
    padding:5px 10px;
    font-weight:bold;
    font-size:25px;
    border-radius:0 20px 20px 0;
    display:block;
    background-color:rgba(160,100,30,1);
    color:white;
    margin-bottom:10px;
}

.product_list{
    display:table; 
    margin-top:10px; 
    width:100%;
}

a.product_intro{
    &:hover, &:focus{
        text-decoration:none;
    }
}

div.product_intro{
    &:hover{
        background:rgba(230, 215, 180,0.5);
    }
}

div.user_list{
    font-weight:bold;
    color:#777;
    font-size:16px;
    cursor:pointer;
    padding:5px 15px;
    border: 5px transparent solid;   
    -webkit-transition: all .1s ease;
    &:hover, :focus{
        text-decoration:none;
        border-left:5px solid #008000;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    }
}

div.user_list_active{
    text-decoration:none;
    border-left:5px solid #008000;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    
}

a.user_list{
    font-weight:bold;
    color:#777;
    padding:0;
    font-size:16px;
    cursor:pointer;
    &:focus, &:hover{
        text-decoration:none;
    }
}

div.user_list_col{
    background-color:white; 
    padding:0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

div.user_content{
    margin:5px 10px;
    background-color:white; 
    padding:15px 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}