<p>嗨～ <%= @resource.email %>!</p>

<p>我們已收到您的密碼重設需求請點擊以下連結：</p>

<p><%= link_to '更改密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您不需要此項服務，請忽略這封信</p>
<p>在您點擊更改密碼的連結前，你的密碼將不會被改變</p>
<p>小農橋團隊上</p>
