<BR>
<BR>
    <br>
    <body>
        <div style="text-align:center;">
            <img src="/img/logo_long.jpg" style="text-align:center; width:80%; height:auto;" />
    <h3>感謝你的支持!</h3>
    <h3>再麻煩您匯款到以下帳號，並回到網站<a href="/payers/new">告知我們匯款資料</a></h3>
    <h3 style="color:green">合作金庫銀行（代碼006） 0411765223253 劉奕為</h3>
    <h3>再次感謝您的支持。</h3>
        </div>
     <div style="text-align:center;"><BR>
    <a href="/"><input type="button" value="回到首頁" class="btn btn-primary"></a>
    <a href="/products"><input type="button" value="回到故事" class="btn btn-primary"></a></div>
        
    </body>