<BR>
<BR>
    <br>
    <body>
        <div style="text-align:center;">
            <img src="/img/logo_long.jpg" style="text-align:center; width:80%; height:auto;" />
    <h3>感謝你的支持!</h3>
    <h3>再麻煩您匯款到以下帳號，並回到網站<a href="/payers/new">告知我們匯款資料</a></h3>
    <h3 style="color:green">
    玉山銀行（代碼808） 0691-979-068422  劉奕為</h3>
    <h3>再次感謝您的支持。</h3>
    <h5>（請特別注意，面交以現金交易為主，有匯款需求歡迎寄信詢問，謝謝！）</h5>
        </div>
     <div style="text-align:center;"><BR>
    <a href="/"><input type="button" value="回到首頁" class="btn btn-primary"></a>
    <a href="/products"><input type="button" value="回到故事" class="btn btn-primary"></a></div>
        
    </body>