<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    </head>
 <body>
<div id="map"><img class="TW" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQlLlsykaxExGBcTHYJMPjt08y9HsEF8YOaeI3DIIVihu7QLuddAA" />
           <input id="thing" class="btn btn-success" type="button" value="香蕉" onclick="window.location='/products/2'"></input>
           <input id="thing2" class="btn btn-success" type="button" value="蘋果" onclick="window.location='/products/1'"></input>
         </div>
                
    </body>
</html>