<head>
   <%= render_page_description_meta_tag %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
 $(document).ready(function(){
 
   $("div.social-share-button").attr("data-url",document.URL)
 });



 
   $(function(){
		    $("#hint").click(function(){
  					$('html, body').animate({
  						scrollTop: $('#buy').offset().top
  					}, 800 );
	     });			
		});

</script>

</head>
<body class="main">
 <div class="col-md-2"></div>
 <div class="col-md-8" style="margin-top:70px">
 <%= @product.introduce.html_safe %>
 <div style="text-align:center; margin-top:10px">
  <%= social_share_button_tag(@product.proname, :url => "https://farmbridger.herokuapp.com/products") %>
 </div>
</div>
<div class="col-md-2"></div>
</body>