<h2>Product</h2>
<table style="width:30%">
	<tr>
		<td>Name</td>
		<td><%= @product.proname%></td>
  	</tr>
  	<tr>
    	<td>price</td>
		<td><%= @product.price%></td>
  	</tr>
  	<tr>
    	<td>introduce</td>
		<td><%= @product.introduce%></td>
  	</tr>
  	<tr>
    	<td>Pic</td>
		<td><img src='<%= @product.pic1%>'></img></td>
  	</tr>
</table> 