<head>
   <%= render_page_description_meta_tag %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <style>
        .product_box{
            padding-left:5%;
        }
        .product_content{
            margin-top:70px;
            padding-left:25px
        }
        
        @media screen and (max-width: 430px){
            .product_box{
                padding-left:0;
            }
            .product_content{
                margin-top:10px;
                padding-left:15px;
            }        
        }
    </style>
</head>
<body class="main">
<div class="container-fluid" style=" padding-top:40px">
 <%= @product.introduce.html_safe %>

</div>
 <div style="text-align:center; margin:10px">
  <%= social_share_button_tag(@product.proname, :url => "https://farmbridger.herokuapp.com/products") %>
 </div>


<script>
 $(document).ready(function(){
 
   $("div.social-share-button").attr("data-url",document.URL)
 });

$(function(){
    $("#hint").click(function(){
        $('html, body').animate({
            scrollTop: $('#buy').offset().top
        }, 800 );
    });			
});

$(window).load(function(){
    var h = $('.product_content').css('height');
    $('.product_story').css({
       height: h 
    });
});

</script>
</body>